@model CFE.ViewModels.VM.FormCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FormCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTCreate" class="control-label"></label>
                <input asp-for="DTCreate" class="form-control" />
                <span asp-validation-for="DTCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTStart" class="control-label"></label>
                <input asp-for="DTStart" class="form-control" />
                <span asp-validation-for="DTStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTFinish" class="control-label"></label>
                <input asp-for="DTFinish" class="form-control" />
                <span asp-validation-for="DTFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPrivate" class="control-label"></label>
                <input asp-for="IsPrivate" class="form-control" />
                <span asp-validation-for="IsPrivate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAnonymity" class="control-label"></label>
                <input asp-for="IsAnonymity" class="form-control" />
                <span asp-validation-for="IsAnonymity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEditingAfterSaving" class="control-label"></label>
                <input asp-for="IsEditingAfterSaving" class="form-control" />
                <span asp-validation-for="IsEditingAfterSaving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




<div id="app">
    <div class="headline" id="headline">
        <form align=center>
            <div class="md-form headline-item">
                <input type="text" id="form1" class="form-control" v-on:input="updateName" :value="formData.name"
                       style="font-size: 250%;">
            </div>
            <div class="md-form form-sm headline-item">
                <input type="text" id="inputSMEx" class="form-control form-control-sm"
                       v-on:input="updateDescription" :value="formData.description">
            </div>
        </form>
    </div>

    <question ìd="question" v-for="(que, queIndex) in questions" :key="queIndex" :que="que" :que-index="queIndex"
              :questions="questions">
    </question>

    <form align=center style="margin: 10px">
        <button type="button" class="btn btn-primary" align=center v-on:click="addQuestion()">
            Add
            question
        </button>
        <button type="button" class="btn btn-primary" v-on:click="sendData">Send</button>
    </form>
</div>


<script src="https://unpkg.com/vue"></script>
<script src="~/js/site.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
