@model CFE.ViewModels.VM.FormCreateViewModel

@{
    ViewData["Title"] = "Create";
}
@{ 
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Create</h1>

<h3 class="description">FormCreateViewModel</h3>
<hr />

<div id="app">
    <div class="headline" id="headline">
        <form align=center>
            <div class="md-form headline-item">
                <input type="text" id="form1" class="form-control" v-on:input="updateName" :value="formData.name"
                       style="font-size: 250%;">
            </div>
            <div class="md-form form-sm headline-item">
                <input type="text" id="inputSMEx" class="form-control form-control-sm"
                       v-on:input="updateDescription" :value="formData.description">
            </div>
            <div class="form-group row" style="display: flex; align-items: center;  justify-content: flex-start;">
                <label for="date-start" class="col-2 col-form-label">Form start</label>
                <div class="col-10">
                    <input class="form-control" type="datetime-local" v-model="formData.dtStart" id="date-start">
                </div>
            </div>
            <div class="form-group row" style="display: flex; align-items: center;  justify-content: flex-start;">
                <label for="date-end" class="col-2 col-form-label">Form end</label>
                <div class="col-10">
                    <input class="form-control" type="datetime-local" v-model="formData.dtStop" id="date-end">
                </div>
            </div>
            <h5 style="color: darkred; text-align: center;" v-if="formData && formData.dtStart && formData.dtStop && new Date(formData.dtStart).getTime() >= new Date(formData.dtStop).getTime()">Date end MUST BE GREATER then date end!!!</h5>
            <div style="display: flex;    align-items: center;    justify-content: space-around;">
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" value="" v-model="formData.isPrivate">
                    <label style="margin-bottom: 0;">
                        Is private
                    </label>
                </div>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" value="" v-model="formData.isAnonymity">
                    <label style="margin-bottom: 0;">
                        Is anonymity
                    </label>
                </div>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" value="" v-model="formData.isEditingAfterSaving">
                    <label style="margin-bottom: 0;">
                        Editing after saving
                    </label>
                </div>
            </div>
        </form>
    </div>

    <question ìd="question" v-for="(que, queIndex) in questions" :key="queIndex" :que="que" :que-index="queIndex"
              :questions="questions">
    </question>

    <form align=center style="margin: 10px">
        <button type="button" class="btn btn-primary" align=center v-on:click="addQuestion()">
            Add
            question
        </button>
        <button type="button" class="btn btn-primary" :disabled="formData && formData.dtStart && formData.dtStop && new Date(formData.dtStart).getTime() >= new Date(formData.dtStop).getTime()" v-on:click="redirectToView">View</button>
        <button type="button" class="btn btn-primary" :disabled="formData && formData.dtStart && formData.dtStop && new Date(formData.dtStart).getTime() >= new Date(formData.dtStop).getTime()" v-on:click="sendData">Send</button>
    </form>
</div>


<script src="https://unpkg.com/vue"></script>
<script src="~/js/script.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
