@{
    ViewData["Title"] = "Home Page";
}

@*@if (User.Identity.IsAuthenticated)*@
@if(false)
{
    <p>@*@User.Identity.Name*@</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-info">Вход</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-info">Регистрация</a>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" >building Web apps with ASP.NET Core</a>.</p>
</div>
